.container {
  display: flex;
  gap: 20px;
  font-size: 60px;
  color: rgb(49, 138, 46);
  align-items: center;
  justify-content: center;
}

h3 {
  color: rgb(255, 255, 255);
  font-size: 2.2rem;
  background-color: #888888;
  width: 20%;
  text-transform: uppercase;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid #424242;
  box-shadow: 0px 5px 20px #6d6d6d;;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  justify-content: center;
  gap: 50px;
  animation: fadeIn 1s ease-in-out;
  margin-bottom: 200px;
}

/* Animação de fade-in */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.skill {
  text-align: center;
  width: 300px;
  padding: 30px;
  border-radius: 12px;
  background: linear-gradient(to top, #740909, #800f0f);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, background-color 0.3s ease;
  border: 1px solid #ff8b8b;
  overflow: hidden;
  opacity: 0.9;
  cursor: pointer;
}

.skill:hover {
  transform: translateY(-15px);
  background-color: #a32b2b;
  opacity: 1;
}

.skill svg {
  transition: transform 0.3s ease;
  color: #fff;
}

.skill:hover svg {
  transform: scale(1.1);
}

.p-skills {
  font-size: 1rem;
  margin: 0; 
  padding: 0;
  background-color: transparent;
  font-size: 1.2rem;
  color: #dfdfdf;
  margin-top: 20px;
  text-align: justify;
  margin-left: 10px;
  margin-right: 10px;
  width: 100%;
  height: auto; 
}

.p-skills:hover {
  background-color: transparent;
}

@media screen and (max-width: 768px) {

  h3 {
    font-size: 1.7rem;
    width: 50%;
  }

  .skills-container {
    gap: 30px;
  }

  .skill {
    width: 250px;
    padding: 20px;
  }

  .p-skills {
    font-size: 1rem;
  }

  .skill svg {
    font-size: 80px;
  }

  .chevron {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  h3 {
    font-size: 1.7rem;
    width: 85%;
  }

  .skills-container {
    gap: 50px;
  }

  .skill {
    width: 80%;
    padding: 20px;
  }

  .p-skills {
    font-size: 1.2rem;
  }

  .skill svg {
    font-size: 70px;
  }

  .chevron {
    display: none;
  }
}
